# Easemob Configuration
EASEMOB_CLIENT_ID=your_client_id
EASEMOB_CLIENT_SECRET=your_client_secret
EASEMOB_ORG_NAME=your_org_name
EASEMOB_APP_NAME=your_app_name
EASEMOB_APP_KEY=your_org_name#your_app_name

# Environment
VITE_ALLOWED_ORIGIN=http://localhost:5173
NODE_ENV=development
PORT=3000

# Production Example
# VITE_ALLOWED_ORIGIN=https://yourdomain.com
# NODE_ENV=production
